<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silita.biaodaa.dao.ArticlesMapper">
    <select id="queryArticleList" resultType="Map" parameterType="Map">
        select id,title,contentDescribe,url,time,image
        from mishu.articles
        where flag=1
        <if test="time !=null and time != ''">
            and time=#{time}
        </if>
        <if test="title !=null and title != ''">
            and title like '%${title}%'
        </if>
        <if test="type !=null and type != ''">
            and type=#{type}
        </if>
        order by time desc
    </select>

    <select id="queryArticleDetail" resultType="Map" parameterType="Integer">
        select * from mishu.articles
        where id=#{id}
    </select>

    <insert id="insert" parameterType="java.util.Map">
          INSERT INTO articles (
              `title`,
              `content`,
              `url`,
              `time`,
              `flag`,
              `type`,
              `username`
            )
            VALUES
              (
                #{title},
                #{content},
                #{url},
                #{time},
                1,
                0,
                'zk'
              ) ;
    </insert>
</mapper>