<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silita.biaodaa.dao.ArticlesMapper">
    <select id="queryArticleList" resultType="Map" parameterType="Map">
        select title,content,contentDescribe,url,time,image
        from mishu.articles
        where 1=1
        <if test="time !=null and time != ''">
            and time=#{time}
        </if>
        <if test="title !=null and title != ''">
            and title like '%${title}%'
        </if>
        <if test="type !=null and type != ''">
            and type=#{type}
        </if>
        order by time desc
    </select>

    <select id="queryArticleDetail" resultType="Map" parameterType="Integer">
        select * from mishu.articles
        where id=#{id}
    </select>
</mapper>