<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silita.biaodaa.dao.BlogrollMapper">
    <select id="queryLinks" parameterType="Map" resultType="Map">
        SELECT
        b.id,b.linkName,b.linkUrl
        FROM
        mishu.blogroll b
        <if test="region!=null and region.size>0">
            LEFT JOIN mishu.area a ON b.regionCode = a.code
            WHERE
            a.name IN
            <foreach item="region" index="index" collection="region" open="(" separator="," close=")">
                #{region}
            </foreach>
            <if test="linkName !=null and linkName != ''">
                AND b.linkName like '%${linkName}%'
            </if>
        </if>
    </select>
</mapper>