<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.ClickRecordMapper">

    <select id="getTotalByTypeAndAimIdAndDate" parameterType="com.silita.biaodaa.dao.ClickRecordMapper"
            resultType="Integer">
      SELECT COUNT(*) FROM mishu_write.click_record WHERE `type` = #{type} AND `aimId` = #{aimId} AND `date` = CURDATE()
    </select>

    <update id="updateClickRecordByTypeAndAimIdAndDate" parameterType="com.silita.biaodaa.model.ClickRecord">
      UPDATE mishu_write.click_record
      SET `visitTimes` = visitTimes + 1,`lastVisitTime` = NOW()
      WHERE `type`= #{type} AND `aimId` = #{aimId} AND `date` = CURDATE()
    </update>

    <insert id="insertClickRecord" parameterType="com.silita.biaodaa.model.ClickRecord">
      INSERT INTO mishu_write.click_record(`type`, `aimId`, `visitTimes`, `lastVisitTime`, `date`) VALUES(#{type}, #{aimId}, 1, NOW(), CURDATE())
    </insert>

    <select id="getClickCountByTypeAndNoticeId" parameterType="com.silita.biaodaa.model.ClickRecord" resultType="Integer">
      SELECT SUM(IFNULL(visitTimes,0))
      FROM mishu_write.click_record
      WHERE `type` = #{type} AND `aimId` = #{aimId}
    </select>
</mapper>