<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.ColleCompanyMapper">

    <select id="getCollectionCompanyByUserIdAndCompanyId" parameterType="com.silita.biaodaa.model.ColleCompany"
            resultType="com.silita.biaodaa.model.ColleCompany">
    SELECT * FROM mishu_write.colle_company_new WHERE userId = #{userid} AND companyId = #{companyid}
  </select>

    <insert id="insertCollectionCompany" parameterType="com.silita.biaodaa.model.ColleCompany">
      INSERT INTO mishu_write.colle_company_new(companyId, `companyName`, userId, tableName)
      VALUES(#{companyid}, #{companyname}, #{userid}, #{tablename})
  </insert>

    <delete id="deleteCollectionCompany" parameterType="com.silita.biaodaa.model.ColleCompany">
      DELETE FROM mishu_write.colle_company_new WHERE `userId` = #{userid} AND `companyId` = #{companyid}
  </delete>

    <select id="listHuNanCollectionCompany" parameterType="com.silita.biaodaa.model.ColleCompany" resultType="Map">
      SELECT c2.userId, c.com_id AS comId, c.com_name AS comName, c.org_code AS orgCode, c.business_num AS businessNum,
      c.regis_address AS regisAddress, c.com_address AS comAddress, c.legal_person AS legalPerson, c.economic_type AS economicType, c.regis_capital AS regisCapital,
      c.skill_leader AS skillLeader, c.range AS comRange, c.logo AS logo, b.runScope AS comRange, b.registerStatus AS subsist,
      c2.tableName
      FROM mishu_write.colle_company_new c2
      LEFT JOIN mishu.tb_company c ON c.com_id = c2.companyId
      LEFT JOIN mishu.tb_safety_certificate s on c.com_name = s.com_name
      LEFT JOIN mishu_next.cert_basic b on b.registerNo = c.org_code and b.companyName = c.com_name
      WHERE c2.`userId` = #{userid}
  </select>

    <!-- 待测试没数据测试 -->
    <select id="listNationWideCollectionCompany" parameterType="com.silita.biaodaa.model.ColleCompany" resultType="Map">
      SELECT c2.userId, c.ID AS comId, c.CompanyName AS comName, c.OrganizationCode AS orgCode, c.BussinessLicenseID AS businessNum,
      c.RegisterLocation AS regisAddress, c.OperatingLocation com_address, c.LegalRepresentative AS legalPerson, c.CompanyType AS economicType
      c2.tableName, b.runScope AS comRange, b.registerStatus AS subsist
      FROM mishu_write.colle_company_new c2
      LEFT JOIN construction4.CompanyInfo c ON c.ID = c2.companyId
      LEFT JOIN mishu.tb_safety_certificate s on c.com_name = s.com_name
      LEFT JOIN mishu_next.cert_basic b on b.registerNo = c.org_code and b.companyName = c.com_name
      WHERE c2.`userId` = #{userid} AND c2.tableName = #{tablename}
  </select>

    <select id="listCollectionCompany" parameterType="com.silita.biaodaa.model.ColleCompany" resultType="Map">
      SELECT c2.userId, c.com_id AS comId, c.com_name AS comName, c.org_code AS orgCode, c.business_num AS businessNum,
      c.regis_address AS regisAddress, c.com_address AS comAddress, c.legal_person AS legalPerson, c.economic_type AS economicType, c.regis_capital AS regisCapital,
      c.skill_leader AS skillLeader, c.range AS comRange, c.logo AS logo ,c2.tableName
      FROM mishu_write.colle_company_new c2
      INNER JOIN mishu.tb_company c ON c.com_id = c2.companyId
      WHERE c2.`userId` = #{userid}
  </select>

</mapper>