<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silita.biaodaa.dao.CustomUrlMapper">
    <select id="queryLinks" parameterType="Map" resultType="Map">
        select * from mishu_write.custom_url
        where 1=1
        <if test="userId !=null and userId != ''">
            and userId=#{userId}
        </if>
        <if test="region !=null and region != ''">
            and region=#{region}
        </if>
    </select>
</mapper>