<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silita.biaodaa.dao.FeedbackMapper">
    <insert id="insertFeedback" parameterType="Map">
        INSERT INTO mishu_write.feedback(pid, starttime, path, module, problem, state, type, loginChannel, version)
          VALUES(#{pid}, NOW(), #{path}, #{module}, #{problem}, 1, #{type}, #{loginChannel}, #{version})
    </insert>
</mapper>