<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silita.biaodaa.dao.NoticeMapper">
    <sql id="selectCompanyInfo">
        select DISTINCT c.*,s.cert_no,s.cert_date,s.valid_date,b.runScope as comRange,b.registerStatus as subsist
        from mishu.tb_company c
        left join mishu.tb_safety_certificate s on c.com_name = s.com_name
        left join mishu_next.cert_basic b on b.registerNo = c.org_code and b.companyName = c.com_name
    </sql>

    <sql id="noticeTypeConvert">
        (case s.otherType
        when '0' then '公告'
        when '1' then '补充'
        when '2' then '答疑'
        when '3' then '流标'
        when '4' then '澄清'
        when '5' then '延期'
        when '6' then '更正公告'
        when '7' then '废标'
        when '8' then '终止'
        when '9' then '修改'
        when '10' then '控制价'
        when '11' then '资审结果'
        when '12' then '资格预审'
        when '13' then '入围'
        when '14' then '暂停'
        else '其他' end) as noticeType
        ,( case biddingType
        when '0' then '施工'
        when '2' then '监理'
        when '3' then '采购'
        when '1' then '设计'
        when '4' then '勘察'
        when '5' then '其他'
        else '其他' end) as projectType
    </sql>

    <select id="queryNoticesByCompanyName" resultType="Long" parameterType="String">
        SELECT a.contId
        FROM mishu.snatch_url_cert a
        WHERE a.certificateUuid in (
        SELECT cz.zhuuid
        FROM mishu.cert_zz cz
        join mishu.cert_src cs  on cz.srcUuid=cs.uuid
        where cs.companyName=#{companyName} and zhuuid is not null
        )
    </select>

    <select id="queryNoticeList" resultType="Map" parameterType="Map">
        SELECT DISTINCT s.id,s.title,s.opendate,s.type
        ,<include refid="noticeTypeConvert"/>
        ,(SELECT GROUP_CONCAT(distinct dd.pbMode SEPARATOR ',') FROM mishu.${detailTable} dd WHERE dd.snatchurlid =s.id ) pbMode
        ,(SELECT GROUP_CONCAT(distinct zz.certificate SEPARATOR ',') FROM mishu.snatch_url_cert zz WHERE zz.contId =s.id ) certificate
        <if test="type == 2">
        ,(SELECT GROUP_CONCAT(distinct dd.oneName SEPARATOR ',')  FROM mishu.${detailTable} dd WHERE dd.snatchurlid =s.id ) oneName
        ,(SELECT GROUP_CONCAT(distinct dd.projSum SEPARATOR ',')  FROM mishu.${detailTable} dd WHERE dd.snatchurlid =s.id ) projSum
        </if>
        FROM mishu.snatchurl s
        <!--资质判断 -->
        <if test="(zzTypeOne !=null and zzTypeOne !='') or (zzTypeTwo !=null and zzTypeTwo !='') or (zzTypeThree !=null and zzTypeThree !='')">
            join mishu.snatch_url_cert suc on suc.contId=s.id
            <choose>
                <when test="zzTypeThree !=null and zzTypeThree !=''">
                  and suc.certificateuuid like '%${zzTypeThree}%'
                </when>
                <when test="zzTypeTwo !=null and zzTypeTwo !=''">
                    and suc.certificateuuid like '%${zzTypeTwo}%'
                </when>
                <when test="zzTypeOne !=null and zzTypeOne !=''">
                    join (select distinct concat('%',majoruuid,'%') as majorUuid
                    from mishu.aptitude_dictionary
                    where aptitudeCode=#{zzTypeOne}) zzdic on suc.certificateUuid like zzdic.majorUuid
                </when>
            </choose>
        </if>
        <choose>
            <when test="(city !=null and city !='') or (modeStr !=null and modeStr!='') or (projSumStart !=null and projSumStart!='') or (projSumEnd !=null and projSumEnd !='') or (kbDateStart !=null and kbDateStart !='') or ( kbDateEnd !=null and kbDateEnd !='')">
                join mishu.${detailTable} detail on s.id=detail.snatchurlid
                <!--<if test="regions !=null and regions !=''" > 维度地区信息不准-->
                <!--and(-->
                <!--<foreach item = "dq" index="index" collection = "regions" separator=" or ">-->
                <!--<if test="dq!=null and dq!=''">-->
                <!--detail.projDq like '%${dq}%'-->
                <!--</if>-->
                <!--</foreach>-->
                <!--)-->
                <!--</if>-->
                <if test="modeStr != null">
                    and detail.pbMode in(${modeStr})
                </if>
                <if test="type == 0">
                    <if test="(projSumStart !=null and projSumStart!='')" >
                        and detail.projSum &gt;= #{projSumStart}
                    </if>
                    <if test="(projSumEnd !=null and projSumEnd!='')" >
                        and detail.projSum &lt;= #{projSumEnd}
                    </if>
                </if>
                <if test="type == 2">
                    <if test="(projSumStart !=null and projSumStart!='')" >
                        and detail.oneOffer &gt;= #{projSumStart}
                    </if>
                    <if test="(projSumEnd !=null and projSumEnd!='')" >
                        and detail.oneOffer &lt;= #{projSumEnd}
                    </if>
                </if>
                <if test="(kbDateStart !=null and kbDateStart !='')">
                    and detail.tbEndDate &gt;= #{kbDateStart}
                </if>
                <if test="( kbDateEnd !=null and kbDateEnd !='')">
                    and detail.tbEndDate &lt;= #{kbDateEnd}
                </if>
            </when>
            <otherwise>
                <if test="type == 2">
                    left join mishu.${detailTable} detail on s.id=detail.snatchurlid
                </if>
            </otherwise>
        </choose>
        WHERE s.isShow = 0
        <if test="projectType !=null and projectType!=''">
            and s.biddingType =#{projectType}
        </if>
        <if test="province !=null and province !=''" >
        and s.province =(select name_abbr from mishu.area ar where ar.name = #{province}  and grade=0)
        </if>
        <if test="city !=null and city !=''" >
        and (s.city in(select name_abbr from mishu.area where display_name like '%${city}%') or detail.projdq like '%${city}%')
        </if>
        and s.type = #{type}
        and DATE_ADD(now(),INTERVAL -90 DAY) &lt; openDate
        <if test="(projSumStart !=null and projSumStart!='') or (projSumEnd !=null and projSumEnd!='')">
            <if test="type == 0">
                and  !(detail.projSum REGEXP '[^0-9.]')
            </if>
        </if>
        order by s.openDate desc,s.edit desc,s.biddingType ASC,s.id desc
    </select>

    <select id="queryNoticeDetail" resultType="Map" parameterType="Map">
        select s.id,s.title,s.url,s.opendate,s.type,IFNULL(dl.projdq,aa.name) as projDq,dl.pbMode,dl.projSum,
        <include refid="noticeTypeConvert"/>,
                <if test="type == 0">
                dl.bmSite,dl.kbSite,dl.kbStaffAsk,
                (SELECT GROUP_CONCAT(zz.certificate SEPARATOR ',') FROM mishu.snatch_url_cert zz WHERE zz.contId =#{id} ) zzRank,
                dl.tbAssureEndDate,
                dl.tbAssureEndTime,dl.tbAssureSum,dl.bmEndDate,dl.bmEndTime,dl.bmSite,
                dl.tbEndDate as kbDate,dl.tbEndTime as kbTime,dl.kbSite,dl.kbStaffAsk,
                </if>
                <if test="type == 2">
                dl.oneName,dl.oneOffer,dl.twoName,dl.twoOffer,dl.threeName,dl.threeOffer,
                </if>
                sc.content
         from mishu.snatchurl s
         left join mishu.snatchurlcontent sc on sc.snatchurlid=s.id
         left join mishu.${detailTable} dl on dl.snatchurlid=s.id
        left join mishu.area aa on aa.name_abbr=s.city and aa.grade=1
         where s.type = #{type} and s.isshow=0 and s.id=#{id}
    </select>

    <select id="queryRelCount" resultType="Long" parameterType="Long">
        select count(a.id)
        FROM (
        <include refid="relationNotices"/>
        ) a
    </select>

    <sql id="relationNotices">
        select DISTINCT id
         from mishu.snatchurl
         join ((select re.nextid as reid
                 from mishu.snatchrelation re
                 where re.mainid=#{id})
                  union all
                 (select mainid as reid
                 from mishu.snatchrelation re
                 where re.nextid=#{id})) rd on rd.reid=id
        WHERE isshow=0
    </sql>

    <select id="queryRelations" resultType="Map" parameterType="Long">
        SELECT s.id,s.title,s.opendate,s.type
        ,<include refid="noticeTypeConvert"/>
        ,(SELECT GROUP_CONCAT(distinct pbMode SEPARATOR ',') FROM mishu.zhaobiao_detail WHERE snatchUrlId =s.id ) as zhaobiao_pbMode
        ,(SELECT GROUP_CONCAT(distinct pbMode SEPARATOR ',') FROM mishu.zhongbiao_detail WHERE snatchUrlId =s.id ) as zhongbiao_pbMode
        ,(SELECT GROUP_CONCAT(zz.certificate SEPARATOR ',') FROM mishu.snatch_url_cert zz WHERE zz.contId =s.id ) certificate
        ,(SELECT GROUP_CONCAT(zb.oneName SEPARATOR ',') oneName FROM mishu.zhongbiao_detail zb WHERE zb.snatchUrlId =s.id) oneName
         from mishu.snatchurl s
         join (
        <include refid="relationNotices"/>
        ) rd on rd.id=s.id
        WHERE s.isshow=0
         order by s.id desc
    </select>

    <select id="queryNoticeZZById" resultType="String" parameterType="Long">
        SELECT group_concat(zz.certificateuuid separator ',') as zzlist
        FROM mishu.snatch_url_cert zz
        where zz.contid=#{id}
    </select>

    <select id="queryComInfoByZZ" resultType="com.silita.biaodaa.model.TbCompany" parameterType="java.util.List">
       <include refid="selectCompanyInfo"></include>
        where
        <foreach collection="list" item="zz" separator=" or " >
          c.`range` like '%${zz}%'
        </foreach>
        order by length(c.`range`) desc
    </select>

    <select id="queryCompanyCountByZZ" resultType="Integer" parameterType="java.util.List">
        SELECT count(c.com_id)
        from mishu.tb_company c
        where
        <foreach collection="list" item="zz" separator=" or " >
            c.`range` like '%${zz}%'
        </foreach>
        order by length(c.`range`) desc
    </select>
    
    <select id="queryNoticeFile" resultType="Map" parameterType="Map">
        select *
        FROM mishu.notice_file
        where snatchurlid=#{id}
    </select>


</mapper>