<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbBidDetailMapper" >
  <resultMap id="BaseResultMap" type="com.silita.biaodaa.model.TbBidDetail" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pkid" property="pkid" jdbcType="INTEGER" />
    <result column="fore_pkid" property="forePkid" jdbcType="INTEGER" />
    <result column="cert_id" property="certId" jdbcType="VARCHAR" />
    <result column="cert_type" property="certType" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>

  <insert id="batchInsertBidDetail" parameterType="java.util.List">
    insert into `tb_bid_detail`(`fore_pkid`,`cert_id`,`cert_type`)
    values
    <foreach collection="list" separator="," item="list">
      (
        #{list.forePkid},#{list.certId},#{list.certType}
      )
    </foreach>
  </insert>

  <select id="" parameterType="java.util.Map" resultType="java.util.Map">
    select t1.*,t2.`mateName`
    from tb_bid_detail t
    left join cert_qyhj t1 on t.`cert_id` = t1.`id`
    left join prize_zh t2 on t1.`zhUuid` = t2.`uuid`
    where t.`fore_pkid` = #{pkid} and t.`cert_type` =1
    and t2.`mateName` = #{mateName}
  </select>

  <select id="queryMateNameList" resultType="java.util.Map" parameterType="java.util.Map">
    SELECT t2.`mateName`,t1.years
    FROM tb_bid_detail t
    LEFT JOIN cert_qyhj t1 ON t.`cert_id` = t1.`id`
    LEFT JOIN prize_zh t2 ON t1.`zhUuid` = t2.`uuid`
    WHERE t.`fore_pkid` = #{pkid} AND t.`cert_type` =1
    AND t2.`type` = #{prizeType}
    GROUP BY t2.`mateName`
    ORDER BY t2.`mateName` DESC;
  </select>

  <select id="querySafetyDetail" resultType="java.lang.String" parameterType="java.util.Map">
    select t2.`mateName`
    from tb_bid_detail t
    left join cert_aqrz t1 on t.`cert_id` = t1.`srcUuid`
    left join prize_zh t2 on t1.`zhUuid` = t2.`uuid`
    where t.`cert_type` = 3 and t.`fore_pkid` = #{pkid}
    order by t2.`score` desc
    limit 1
  </select>

  <select id="queryUnabDetail" resultType="java.util.Map" parameterType="java.util.Map">
    SELECT t1.*
    FROM tb_bid_detail t
    LEFT JOIN cert_undesirable t1 ON t.`cert_id` = t1.`id`
    WHERE t.`cert_type` = 2 AND t.`fore_pkid` = #{pkid}
  </select>
</mapper>