<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbCountBidInfoMapper">
    <!-- 获取详情列表(根据日期)-->
    <select id="queryCountBidDateList" parameterType="java.util.Map" resultType="java.util.Map">
        select
        t.com_name as comName,
        SUM(t.num) as num
        from tb_count_bid_info t
        where
        t.stat_date &gt;= #{statDate}
        and t.stat_date &lt;= #{endDate}
        GROUP BY t.`com_name`
        HAVING SUM(t.num) &gt;= #{count}
        ORDER BY SUM(t.num) DESC
    </select>

    <!-- 获取详情列表(根据关联id)-->
    <select id="queryCountBidList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
          t.`com_name` AS comName,
          t.`num` AS num,
          t.`score` AS score,
          t.`stat_date` AS statDate
        FROM
          tb_count_bid_info t
        WHERE t.`plat_id` = #{pkid}
        ORDER BY t.`score` DESC,t.num DESC
        LIMIT 100
    </select>
</mapper>