<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbCompanyReportMapper">
    <resultMap id="BaseResultMap" type="com.silita.biaodaa.model.TbCompanyReport">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="pkid" property="pkid" jdbcType="INTEGER"/>
        <result column="com_id" property="comId" jdbcType="VARCHAR"/>
        <result column="com_name" property="comName" jdbcType="VARCHAR"/>
        <result column="year" property="year" jdbcType="INTEGER"/>
        <result column="updated" property="updated" jdbcType="TIMESTAMP"/>
        <result column="report" property="report" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <!--查询年报是否存在-->
    <select id="queryCompanyCount" parameterType="com.silita.biaodaa.model.TbCompanyReport"
            resultType="java.lang.Integer">
      SELECT COUNT(1) FROM tb_company_report t WHERE t.`com_id` = #{comId} AND t.`year` = #{year}
    </select>

    <!--查询公司的年报年份-->
    <select id="queryReportYearsForCompany" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
          t.`year` AS years,
          t.`com_id` AS comId
        FROM
          tb_company_report t
        WHERE t.`com_id` = #{comId}
        GROUP BY t.`year`
        ORDER BY t.`year` DESC
    </select>

    <!--年报详情-->
    <select id="queryReportDetailForCompany" parameterType="java.util.Map" resultType="java.lang.String">
        SELECT
          t.`report`
        FROM
          tb_company_report t
        WHERE t.`com_id` = #{comId}
          AND t.`year` = #{years}
    </select>

    <!--添加企业年报-->
    <insert id="insertCompanyReport" parameterType="com.silita.biaodaa.model.TbCompanyReport">
        INSERT INTO `tb_company_report` (
        <if test="comId != null and comId != ''">
            `com_id`,
        </if>
        <if test="comName != null and comName != ''">
            `com_name`,
        </if>
        <if test="year != null">
            `year`,
        </if>
        <if test="report != null and report != ''">
            `report`,
        </if>
        `updated`
        )
        VALUES
        (
        <if test="comId != null and comId != ''">
            #{comId},
        </if>
        <if test="comName != null and comName != ''">
            #{comName},
        </if>
        <if test="year != null">
            #{year},
        </if>
        <if test="report != null and report != ''">
            #{report},
        </if>
        now()
        ) ;
    </insert>

    <!--修改企业年报-->
    <update id="updateCompanyReport" parameterType="com.silita.biaodaa.model.TbCompanyReport">
        UPDATE
          `mishu`.`tb_company_report`
        SET
          `year` = #{year},
          `report` = #{report},
          `updated` = now()
        WHERE com_id = #{comId} AND `year` = #{year}
    </update>
</mapper>