<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbDuanwuActivityMapper">

    <!--添加-->
    <insert id="insert" parameterType="com.silita.biaodaa.model.TbDuanwuActivity">
        INSERT INTO `tb_duanwu_activity` (
        <if test="invitedUid != null and invitedUid != ''">
            `invited_uid`,
        </if>
        <if test="invitePhone != null and invitePhone != ''">
            `invite_phone`,
        </if>
        <if test="payState != null">
            `pay_state`,
        </if>
        <if test="payAmount != null">
            `pay_amount`,
        </if>
        <if test="orderNo != null and orderNo != ''">
            `order_no`,
        </if>
        <if test="payd != null and payd != ''">
            `payd`,
        </if>
        <if test="payType != null and payType != ''">
            `pay_type`,
        </if>
        `created`
        )
        VALUES
        (
        <if test="invitedUid != null and invitedUid != ''">
            #{invitedUid},
        </if>
        <if test="invitePhone != null and invitePhone != ''">
            #{invitePhone},
        </if>
        <if test="payState != null">
            #{payState},
        </if>
        <if test="payAmount != null">
            #{payAmount},
        </if>
        <if test="orderNo != null and orderNo != ''">
            #{orderNo},
        </if>
        <if test="payd != null and payd != ''">
            #{payd},
        </if>
        <if test="payType != null and payType != ''">
            #{payType},
        </if>
        now()
        ) ;
    </insert>

    <!--修改支付状态-->
    <update id="updatePayState" parameterType="com.silita.biaodaa.model.TbDuanwuActivity">
        UPDATE
          `tb_duanwu_activity`
        SET
          `pay_state` = #{payState},
          `payd` = now(),
          `updated` = now()
        WHERE `order_no` = #{orderNo}
    </update>

    <update id="update" parameterType="com.silita.biaodaa.model.TbDuanwuActivity">
        UPDATE
          `tb_duanwu_activity`
        SET
        <if test="invitedUid != null and invitedUid != ''">
            `invited_uid`=#{invitedUid},
        </if>
        <if test="invitePhone != null and invitePhone != ''">
            `invite_phone`=#{invitePhone},
        </if>
        <if test="payState != null">
            `pay_state`=#{payState},
        </if>
        <if test="payAmount != null">
            `pay_amount` = #{payAmount},
        </if>
        <if test="payd != null and payd != ''">
            `payd`=#{payd},
        </if>
        <if test="payType != null and payType != ''">
            `pay_type`=#{payType},
        </if>
        `updated`=now()
        WHERE `order_no` = #{orderNo}
    </update>

    <!--查询订单号是否存在-->
    <select id="queryOrderNoExist" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM tb_duanwu_activity t WHERE t.`order_no` = #{orderNo}
    </select>
</mapper>