<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbGsCompanyMapper">
    <resultMap id="BaseResultMap" type="com.silita.biaodaa.model.TbGsCompany">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="pkid" property="pkid" jdbcType="INTEGER"/>
        <result column="com_id" property="comId" jdbcType="VARCHAR"/>
        <result column="com_name" property="comName" jdbcType="VARCHAR"/>
        <result column="updated" property="updated" jdbcType="TIMESTAMP"/>
        <result column="basic" property="basic" jdbcType="LONGVARCHAR"/>
        <result column="partner" property="partner" jdbcType="LONGVARCHAR"/>
        <result column="personnel" property="personnel" jdbcType="LONGVARCHAR"/>
        <result column="change_record" property="changeRecord" jdbcType="LONGVARCHAR"/>
        <result column="punish" property="punish" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <!--查询是否在一周内更新-->
    <select id="queryGsCompanyCount" parameterType="java.util.Map" resultType="java.lang.Integer">
      SELECT
        COUNT(1)
      FROM
        tb_gs_company t
      WHERE t.`com_id` = #{comId}
        AND DATE(t.`updated`) &lt;= DATE_SUB(CURDATE(), INTERVAL - 7 DAY)
  </select>

    <!--查询企业是否存在-->
    <select id="queryCompanyExits" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
          COUNT(1)
        FROM
          tb_gs_company t
        WHERE t.`com_id` = #{comId}
    </select>

    <!--查询企业单个字段-->
    <select id="queryCompanyParamter" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
          ${paramter} AS paramter,
          updated AS updated
        FROM
          tb_gs_company
        WHERE com_id = #{comId}
    </select>

    <!--添加-->
    <insert id="insertGsCompany" parameterType="com.silita.biaodaa.model.TbGsCompany">
        INSERT INTO `tb_gs_company` (
        <if test="comId != null and comId != ''">
            `com_id`,
        </if>
        <if test="comName != null and comName != ''">
            `com_name`,
        </if>
        <if test="basic != null and basic != ''">
            `basic`,
        </if>
        <if test="partner != null and partner != ''">
            `partner`,
        </if>
        <if test="personnel != null and personnel != ''">
            `personnel`,
        </if>
        <if test="changeRecord != null and changeRecord != ''">
            `change_record`,
        </if>
        <if test="punish != null and punish != ''">
            `punish`,
        </if>
        <if test="branch != null and branch != ''">
            `branch`,
        </if>
        `updated`
        )
        VALUES
        (
        <if test="comId != null and comId != ''">
            #{comId},
        </if>
        <if test="comName != null and comName != ''">
            #{comName},
        </if>
        <if test="basic != null and basic != ''">
            #{basic},
        </if>
        <if test="partner != null and partner != ''">
            #{partner},
        </if>
        <if test="personnel != null and personnel != ''">
            #{personnel},
        </if>
        <if test="changeRecord != null and changeRecord != ''">
            #{changeRecord},
        </if>
        <if test="punish != null and punish != ''">
            #{punish},
        </if>
        <if test="branch != null and branch != ''">
            #{branch},
        </if>
        now()
        ) ;
    </insert>

    <!--修改-->
    <update id="updatedGsCompany" parameterType="com.silita.biaodaa.model.TbGsCompany">
        UPDATE
        `tb_gs_company`
        SET
        <if test="comName != null and comName != ''">
            `com_name` = #{comName},
        </if>
        <if test="basic != null and basic != ''">
            `basic` = #{basic},
        </if>
        <if test="partner != null and partner != ''">
            `partner` = #{partner},
        </if>
        <if test="personnel != null and personnel != ''">
            `personnel` = #{personnel},
        </if>
        <if test="changeRecord != null and changeRecord != ''">
            `change_record` = #{changeRecord},
        </if>
        <if test="punish != null and punish != ''">
            `punish` = #{punish},
        </if>
        <if test="branch != null and branch != ''">
            `branch` = #{branch},
        </if>
        `updated` = now()
        WHERE `com_id` = #{comId}
    </update>
</mapper>