<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbLoginInfoMapper" >
  <resultMap id="BaseResultMap" type="com.silita.biaodaa.model.TbLoginInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pkid" property="pkid" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="login_tel" property="loginTel" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="queryCount" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
        count(1)
    from
      tb_login_info t
    where t.`login_tel` = #{tel}
      and DATE_FORMAT(t.`created_date`, '%Y-%m-%d') = DATE_FORMAT(now(), '%Y-%m-%d')
  </select>

  <insert id="insertLoginInfo" parameterType="com.silita.biaodaa.model.TbLoginInfo">
    INSERT INTO `tb_login_info`
              (`pkid`,
               `login_name`,
               `login_tel`,
               `login_time`,
               `created_date`)
    VALUES (#{pkid},#{loginName},#{loginTel},#{loginTime},now());
  </insert>
</mapper>