<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbPersonProjectMapper" >
  <resultMap id="BaseResultMap" type="com.silita.biaodaa.model.TbPersonProject" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pkid" property="pkid" jdbcType="INTEGER" />
    <result column="innerid" property="innerid" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="pro_id" property="proId" jdbcType="INTEGER" />
    <result column="com_name" property="comName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="cert_no" property="certNo" jdbcType="VARCHAR" />
    <result column="safe_no" property="safeNo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
  </resultMap>

  <select id="queryPersonProject" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT
      t.com_name
      ,t.`cert_no`
      ,t.`safe_no`
      ,t.`status`
      ,t.`role`
      ,t.`innerid`
      ,t.`name`
    FROM tb_person_project t
    WHERE 1=1
    <if test="type != null and type != ''">
      and t.`type` = #{type}
    </if>
    AND t.`pid` = #{pkid}
    <if test="role != null and role != ''">
      AND (t.`role` = #{role} OR t.`role` = #{roleOne})
    </if>
    ORDER BY t.`created` DESC
  </select>

  <select id="queryPersonByInnerId" resultType="java.util.Map">
      SELECT
        t.`id_card` as idCard
        ,t.`seal_no` AS sealNo
        ,t.`innerid` AS innerid
      FROM tb_person_${tabCode} t
      WHERE t.`innerid` in
      <foreach collection="list" separator="," index="index" close=")" open="(" item="list">
        #{list.innerid}
      </foreach>
      GROUP BY t.`innerid`
  </select>

  <select id="queryInnerIdByPkid" parameterType="java.util.List" resultMap="BaseResultMap">
    SELECT
      t.*
     FROM tb_person_project t
     WHERE t.`pid` IN
     <foreach collection="list" item="list" index="index" separator="," open="(" close=")">
       #{list.pkid}
     </foreach>
      and t.type = 'design'
  </select>

  <select id="queryPersonProjectByPid" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
      t.*
    from tb_person_project t
    where t.pid = #{pid}
    and (t.role = #{role} or t.role = #{roleOther})
    and t.type = 'build'
  </select>

  <select id="queryPersonByParam" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT
      t.com_name,
      t.`cert_no`,
      t.`safe_no`,
      t.`status`,
      t.`role`,
      t.`innerid`,
      t.`name` ,
      t.`type`
    FROM
      tb_person_project t
    WHERE 1 = 1
      AND t.`type` = #{type}
      AND t.`pid`= #{pkid}
  </select>

  <select id="queryPersonByCode" resultMap="BaseResultMap" parameterType="java.util.Map">
    select t.*
    from tb_person_${tabCode} t
    where 1=1
    <if test="type != null and type != ''">
      and t.`type` = #{type}
    </if>
    AND t.`pid` = #{pkid}
    <if test="role != null and role != ''and roleOne != null and roleOne != ''">
      AND (t.`role` = #{role} OR t.`role` = #{roleOne})
    </if>
    ORDER BY t.`created` DESC
  </select>

  <select id="queryPersonProjectByParam" parameterType="java.util.Map" resultMap="BaseResultMap">
    select t.*
    from tb_person_project t
    where 1=1
    <if test="comName != null and comName != ''">
      and t.com_name = #{comName}
    </if>
    <if test="name != null and name != ''">
      and t.name = #{name}
    </if>
    <if test="certNo != null and certNo != ''">
      and (t.cert_no = #{certNo}
      <if test="sealNo != null and sealNo != ''">
        or t.cert_no = #{sealNo}
      </if>
      )
    </if>
  </select>

  <select id="queryPersonProjectByInnerid" resultMap="BaseResultMap" parameterType="java.lang.String">
     select t.*
     from tb_person_project t
     where 1=1
     and t.innerid = #{innerId}
  </select>
</mapper>