<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silita.biaodaa.dao.TbPersonMapper">
    <select id="queryPersonDetail" parameterType="Map" resultType="Map">
        SELECT
			p.pkid,
			p.name,
			p.nation,
			p.sex,
			p.id_card,
			p.education,
			p.degree,
			q.category,
			q.cert_no,
			q.cert_date,
			q.valid_date,
			q.com_name,
			pro.category project_role,
		CASE pro.type
		WHEN 'build' THEN '施工'
		WHEN 'supervision' THEN '监理'
		ELSE '其他'
		END AS project_type,
			pro.status
		FROM
			mishu.tb_person p
		JOIN mishu.tb_person_qualification q ON p.pkid=q.pkid
		JOIN mishu.tb_person_project pro ON p.pkid=pro.pkid
		WHERE p.pkid=#{pkid}
    </select>

    <select id="queryPersonDetailByParam" resultType="com.silita.biaodaa.model.TbPersonQualification"
            parameterType="java.util.Map">
        select t.*
        from tb_person_${tabCode} t
        where 1=1
        <if test="name != null and name != ''">
            and t.name = #{name}
        </if>
        <if test="sex != null and sex != ''">
            and t.sex = #{sex}
        </if>
        <if test="idCard != null and idCard != ''">
            and t.id_card = #{idCard}
        </if>
        <if test="certNo != null and certNo != ''">
            and t.cert_no = #{certNo}
        </if>
        <if test="comId != null and comId != ''">
            and t.com_id = #{comId}
        </if>
        <if test="type != null and type != ''">
            and t.type = #{type}
        </if>
        -- AND t.`valid_date` &gt;= DATE_FORMAT(NOW(),'%Y年%m月%d日')
    </select>

    <!--根据innerid查询人员性别-->
    <select id="queryPersonSexInnerId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT t.`sex` FROM tb_person_hunan t WHERE t.`innerid` = #{innerId} LIMIT 1;
    </select>

    <!--根据name查询注册id-->
    <select id="queryPersonCateName" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
          t.`pkid`
        FROM
          tb_person_cate t
        WHERE t.`cate_name` = #{cateName}
    </select>

    <!--添加人员注册类别-->
    <insert id="insertPersonCate" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="pkid">
        INSERT INTO `tb_person_cate` (
        <if test="parentId != null">
            `parent_id`,
        </if>
        <if test="cateName != null and cateName != ''">
            `cate_name`,
        </if>
        <if test="level != null">
            `level`,
        </if>
        `created`
        )
        VALUES
        (
        <if test="parentId != null and parentId != ''">
            #{parentId},
        </if>
        <if test="cateName != null and cateName != ''">
            #{cateName},
        </if>
        <if test="level != null">
            #{level},
        </if>
        now()
        )
    </insert>

    <!--根据级别查询人员注册-->
    <select id="queryPersonCate" parameterType="java.lang.Integer" resultType="java.util.Map">
        SELECT
        t.`pkid`,
        t.`parent_id` AS parentId,
        t.`cate_name` AS cateName,
        t.`level`
        FROM
        tb_person_cate t
        WHERE t.`level` = #{level}
        AND t.state = 1
    </select>
</mapper>