<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silita.biaodaa.dao.TbPersonMapper">
    <select id="queryPersonDetail" parameterType="Map" resultType="Map">
        SELECT
			p.pkid,
			p.name,
			p.nation,
			p.sex,
			p.id_card,
			p.education,
			p.degree,
			q.category,
			q.cert_no,
			q.cert_date,
			q.valid_date,
			q.com_name,
			pro.category project_role,
		CASE pro.type
		WHEN 'build' THEN '施工'
		WHEN 'supervision' THEN '监理'
		ELSE '其他'
		END AS project_type,
			pro.status
		FROM
			mishu.tb_person p
		JOIN mishu.tb_person_qualification q ON p.pkid=q.pkid
		JOIN mishu.tb_person_project pro ON p.pkid=pro.pkid
		WHERE p.pkid=#{pkid}
    </select>

    <select id="queryPersonDetailByParam" resultType="com.silita.biaodaa.model.TbPersonQualification"
            parameterType="java.util.Map">
        select t.*
        from tb_person_${tabCode} t
        where 1=1
        <if test="name != null and name != ''">
            and t.name = #{name}
        </if>
        <if test="sex != null and sex != ''">
            and t.sex = #{sex}
        </if>
        <if test="idCard != null and idCard != ''">
            and t.id_card = #{idCard}
        </if>
        <if test="certNo != null and certNo != ''">
            and t.cert_no = #{certNo}
        </if>
        <if test="comId != null and comId != ''">
            and t.com_id = #{comId}
        </if>
        <if test="type != null and type != ''">
            and t.type = #{type}
        </if>
        AND t.`valid_date` &gt;= date(now())
    </select>

    <!--根据innerid查询人员性别-->
    <select id="queryPersonSexInnerId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT t.`sex` FROM tb_person_hunan t WHERE t.`innerid` = #{innerId} LIMIT 1;
    </select>
</mapper>