<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbPlatformNoticeMapper">
    <resultMap id="BaseResultMap" type="com.silita.biaodaa.model.TbPlatformNotice">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="pkid" property="pkid" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="release_time" property="releaseTime" jdbcType="VARCHAR"/>
        <result column="count_date" property="countDate" jdbcType="TIMESTAMP"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="operator" property="operator" jdbcType="VARCHAR"/>
        <result column="cerated" property="cerated" jdbcType="TIMESTAMP"/>
        <result column="updated" property="updated" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <select id="queryPlatformNoticeCount" resultType="int" parameterType="java.lang.String">
      select count(1)
      from tb_platform_notice t
      where t.status = 1
      and t.release_time = #{statDate}
    </select>

    <select id="queryPlatformNoticeList" parameterType="java.util.Map" resultType="java.util.Map">
        select t.title AS title
                ,t.remark AS remark
                ,t.release_time AS releaseTime
        from tb_platform_notice t
        where t.status = 1
        order by t.cerated desc
    </select>

    <update id="updateRemark" parameterType="java.util.Map">
        update tb_platform_notice set remark = #{remark} where release_time = #{statDate} and `status`=1
    </update>

    <insert id="insertPlatformNotice" parameterType="com.silita.biaodaa.model.TbPlatformNotice">
        insert into `tb_platform_notice`
            (
             `title`,
             `remark`,
             `release_time`,
             `count_date`
            )
        values (
              #{title},#{remark},#{releaseTime},#{countDate}
            )
    </insert>

    <select id="queryPlatformInfoByStatDate" parameterType="java.lang.String" resultType="java.util.Map">
        select
              `title` as title,
             `remark` as remark,
             `release_time` as releaseTime
        from tb_platform_notice t
        where t.`status` =1
        and t.release_time = #{statDate}
    </select>
</mapper>