<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbProjectSupervisionMapper" >
  <resultMap id="BaseResultMap" type="com.silita.biaodaa.model.TbProjectSupervision" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pkid" property="pkid" jdbcType="INTEGER" />
    <result column="jlbdxh" property="jlbdxh" jdbcType="VARCHAR" />
    <result column="pro_id" property="proId" jdbcType="INTEGER" />
    <result column="pro_name" property="proName" jdbcType="VARCHAR" />
    <result column="pro_type" property="proType" jdbcType="VARCHAR" />
    <result column="com_id" property="comId" jdbcType="INTEGER" />
    <result column="super_org" property="superOrg" jdbcType="VARCHAR" />
    <result column="contract_date" property="contractDate" jdbcType="VARCHAR" />
    <result column="contract_price" property="contractPrice" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="b_scope" property="bScope" jdbcType="LONGVARCHAR" />
    <result column="bid_remark" property="bidRemark" jdbcType="LONGVARCHAR" />
    <result column="contract_remark" property="contractRemark" jdbcType="LONGVARCHAR" />
  </resultMap>

  <select id="queryProjectSupervisionListByProId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT
      t.*
    FROM tb_project_supervision t
    WHERE t.`pro_id` =#{proId};
  </select>

  <select id="queryProjectSupCompany" parameterType="java.lang.Integer" resultType="java.util.Map">
    SELECT
      t1.`com_name` AS comName
      ,t1.`org_code` AS orgCode
      ,(SELECT t3.display_name FROM mishu.`area` t3 WHERE t3.path = SUBSTRING_INDEX(t2.`path`,',',1)) AS province
      ,'监理单位' AS companyType
    FROM tb_project_supervision t
    LEFT JOIN tb_company t1 ON t.`com_id` = t1.`com_id`
    LEFT JOIN mishu.`area` t2 ON t1.`regis_address` = t2.`name`
    WHERE t.`pro_id`= #{proId}
    GROUP BY t1.`com_id`
  </select>
</mapper>