<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbProjectContractMapper" >
  <resultMap id="BaseResultMap" type="com.silita.biaodaa.model.TbProjectContract" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pkid" property="pkid" jdbcType="VARCHAR" />
    <result column="pro_id" property="proId" jdbcType="VARCHAR" />
    <result column="record_code" property="recordCode" jdbcType="VARCHAR" />
    <result column="prov_record_code" property="provRecordCode" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="VARCHAR" />
    <result column="build_scale" property="buildScale" jdbcType="VARCHAR" />
    <result column="sign_date" property="signDate" jdbcType="VARCHAR" />
    <result column="record_date" property="recordDate" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="queryProjectContractListByProId" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT t.*
    FROM tb_project_contract t
    WHERE t.`pro_id` = #{proId}
  </select>

  <select id="queryProjectContractDetail" parameterType="java.util.Map" resultMap="BaseResultMap">
    select t.*
    FROM tb_project_contract t
    WHERE t.`pkid` = #{pkid}
    <if test="proId != null and proId != ''">
      and t.pro_id = #{proId}
    </if>
  </select>

</mapper>