<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbProjectMapper">

    <!--按工程查询业绩列表-->
    <select id="queryObject" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT t.`pro_id` AS proId
                ,t.`pro_no` AS proNo
                ,t.`pro_name` AS proName
                ,t.`pro_where` AS proWhere
                ,t.`pro_org` AS proOrg
                ,t.`pro_type` AS proType
        FROM tb_project t
        <if test="areaCode != null and areaCode != ''">
          LEFT JOIN mishu.`area` t1 ON t.`pro_where` = t1.`name`
        </if>
        where 1=1
        <if test="proName != null and proName != ''">
            AND (t.`pro_name` LIKE  CONCAT('%',#{proName},'%')  OR t.`pro_org` LIKE CONCAT('%',#{proName},'%'))
        </if>
        <if test="proType != null and proName != ''">
            AND t.`pro_type` = #{proType}
        </if>
        <!--<if test="proOrg != null and proOrg != ''">-->
            <!--AND t.`pro_org` LIKE CONCAT('%',#{proOrg},'%')-->
        <!--</if>-->
        <if test="areaCode != null and areaCode != ''">
            AND t1.`code` LIKE CONCAT(#{areaCode},'%')
        </if>
        GROUP BY t.`pro_id`,t.`pro_org`
        ORDER BY t.`pro_where` desc,t.`pro_org` desc
    </select>

    <!--按单位查询列表-->
    <select id="queryObjectByUnit" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT t.`pro_id` AS proId
        ,t.`pro_no` AS proNo
        ,t.`pro_name` AS proName
        ,t.`pro_where` AS proWhere
        ,t.`pro_type` AS proType
        ,t1.`path` AS path
        ,<if test="pactType == '施工'">t2.`b_org` AS proOrg</if>
        <if test="pactType == '监理'">t3.`super_org` AS proOrg</if>
        <if test="pactType == '勘察'">t4.`explore_org` AS proOrg</if>
        <if test="pactType == '设计'">t5.`design_org` AS proOrg</if>
        FROM tb_project t
        LEFT JOIN mishu.`area` t1 ON t.`pro_where` = t1.`name`
        <if test="pactType == '施工'">
            LEFT JOIN mishu.`tb_project_build` t2 ON t2.`pro_id` = t.`pro_id`
            <if test="proOrg != null and proOrg != ''">
                AND t2.`b_org` LIKE  CONCAT('%',#{proOrg},'%')
            </if>
        </if>
        <if test="pactType == '监理'">
            LEFT JOIN mishu.`tb_project_supervision` t3 ON t3.`pro_id` = t.`pro_id`
            <if test="proOrg != null and proOrg != ''">
                AND t3.`super_org` LIKE  CONCAT('%',#{proOrg},'%')
            </if>
        </if>
        <if test="pactType == '勘察'">
            LEFT JOIN mishu.`tb_project_design` t4 ON t4.`pro_id` = t.`pro_id`
            <if test="proOrg != null and proOrg != ''">
                AND t4.`explore_org` LIKE  CONCAT('%',#{proOrg},'%')
            </if>
        </if>
        <if test="pactType == '设计'">
            LEFT JOIN mishu.`tb_project_design` t5 ON t5.`pro_id` = t.`pro_id`
            <if test="proOrg != null and proOrg != ''">
                AND t5.`design_org` LIKE  CONCAT('%',#{proOrg},'%')
            </if>
        </if>
        WHERE
        1=1
        <if test="proName != null and proName != ''">
            AND t.`pro_name` LIKE  CONCAT('%',#{proName},'%')
        </if>
        <if test="proType != null and proName != ''">
            AND t.`pro_type` = #{proType}
        </if>
        <if test="areaCode != null and areaCode != ''">
            AND t1.`code` LIKE CONCAT(#{areaCode},'%')
        </if>
    </select>

    <!--获取区域省级的名称和path-->
    <select id="queryNameAndPath"  resultType="java.util.Map">
        select name,path from area where grade=0 order by name_abbr
    </select>

    <!--获取项目详情-->
    <select id="queryProjectDetail" parameterType="java.lang.Integer" resultType="com.silita.biaodaa.model.TbProject">
       SELECT t.pro_id AS proId
       ,t.`xmid` AS xmlid
       ,t.`pro_name` AS proName
       ,t.`pro_no` AS proNo
       ,t.`project_no` AS projectNo
       ,t.`pro_org` AS proOrg
       ,t.`pro_where` AS proWhere
       ,t.`pro_address` AS proAddress
       ,t.`invest_amount` AS investAmount
       ,t.`approval_num` AS approvalNum
       ,t.`pro_type` AS proType
       ,t.`build_type` AS buildType
       ,(CASE WHEN t.`acreage` IS NULL THEN t.`pro_scope` ELSE t.`acreage`END) AS acreage
       ,t.`land_licence` AS landLicence
       ,t.`plan_licence` AS planLicence
       ,t.`pro_level` AS proLevel
       ,t.`pro_use` AS proUse
       ,t1.`path`  AS path
       ,t3.`org_code` AS orgCode
      FROM tb_project t
      LEFT JOIN mishu.`area` t1 ON t.`pro_where` = t1.`name`
      LEFT JOIN tb_company t3 ON t.`pro_org` = t3.`com_name`
      WHERE t.`pro_id` = #{proId}
    </select>

    <select id="queryProjectListByIds" parameterType="java.util.List" resultType="java.util.Map">
        SELECT
            t.`pro_id` AS proId
            ,t.`pro_name` AS proName
            ,t.`pro_type` AS proType
            ,t.`pro_where` AS proWhere
            ,t.`pro_org` AS proOrg
            ,null AS pmName
            ,(SELECT t2.display_name FROM mishu.`area` t2 WHERE t2.path = SUBSTRING_INDEX(t1.`path`,',',1)) AS province
        FROM tb_project t
        LEFT JOIN mishu.`area` t1 ON t.`pro_where` = t1.`name`
        WHERE t.`pro_id` IN
        <foreach collection="list" item="list" index="index" open="(" close=")" separator=",">
            #{index}
        </foreach>
    </select>
</mapper>