<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbProjectDesignMapper">
    <resultMap id="BaseResultMap" type="com.silita.biaodaa.model.TbProjectDesign">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="pkid" property="pkid" jdbcType="VARCHAR"/>
        <result column="sgtxh" property="sgtxh" jdbcType="VARCHAR"/>
        <result column="pro_id" property="proId" jdbcType="VARCHAR"/>
        <result column="pro_name" property="proName" jdbcType="VARCHAR"/>
        <result column="pro_type" property="proType" jdbcType="VARCHAR"/>
        <result column="com_id" property="comId" jdbcType="VARCHAR"/>
        <result column="explore_org" property="exploreOrg" jdbcType="VARCHAR"/>
        <result column="design_org" property="designOrg" jdbcType="VARCHAR"/>
        <result column="check_org" property="checkOrg" jdbcType="VARCHAR"/>
        <result column="check_no" property="checkNo" jdbcType="VARCHAR"/>
        <result column="check_number" property="checkNumber" jdbcType="VARCHAR"/>
        <result column="check_finish_date" property="checkFinishDate" jdbcType="VARCHAR"/>
        <result column="check_person" property="checkPerson" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
        <result column="updated" property="updated" jdbcType="TIMESTAMP"/>
        <result column="pro_scope" property="proScope" jdbcType="LONGVARCHAR"/>
        <result column="checkOrgCode" property="checkOrgCode" jdbcType="VARCHAR"/>
        <result column="designOrgCode" property="designOrgCode" jdbcType="VARCHAR"/>
        <result column="exploreOrgCode" property="exploreOrgCode" jdbcType="VARCHAR"/>
        <result column="regisAddressDesign" property="regisAddressDesign" jdbcType="VARCHAR"/>
        <result column="regisAddressExplore" property="regisAddressExplore" jdbcType="VARCHAR"/>
        <result column="pro_where" property="proWhere" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryProjectDesignByProId" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT t.`pkid`
       ,t.`pro_id`
       ,t.`pro_name`
       ,t.`pro_type`
       ,t.`explore_org`
       ,t.`com_id`
       ,t.`design_org`
       ,t.`check_org`
       ,t.`check_finish_date`
    FROM tb_project_design t
    WHERE t.`pro_id` = #{proId}
    GROUP BY t.`sgtxh`
  </select>

    <select id="queryProjectDesignDetailLimitOneByProId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
         t.*
        ,t1.`pro_scope`
    FROM tb_project_design t
    LEFT JOIN tb_project t1 ON t.`pro_id` = t1.`pro_id`
    WHERE t.`pro_id` = #{proId}
    limit 1
    </select>

    <select id="queryProjectDesignDetailByProId" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
         t.`pkid`
        ,t.`check_org`
        ,t.`design_org`
        ,t.`explore_org`
        ,t2.`org_code` AS checkOrgCode
        ,t3.`org_code` AS designOrgCode
        ,t4.`org_code` AS exploreOrgCode
        ,t3.`regis_address` AS regisAddressDesign
	    ,t4.`regis_address` AS regisAddressExplore
    FROM tb_project_design t
    LEFT JOIN tb_company t2 ON t.`check_org` = t2.`com_name`
    LEFT JOIN tb_company t3 ON t.`design_org` = t3.`com_name`
    LEFT JOIN tb_company t4 ON t.`explore_org` = t4.`com_name`
    WHERE t.`pro_id` = #{proId}
  </select>

    <select id="queryProvinceByName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
          t.`display_name`
        FROM
          mishu.`area` t
        WHERE t.`path` = SUBSTRING_INDEX(
            (SELECT
              t1.`path`
            FROM
              mishu.`area` t1
            WHERE t1.`name` = #{name}),
            ',',
            1
          )

    </select>


    <select id="queryProjectDesignDetailByPkid" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
              t.*
            ,t2.`org_code` AS checkOrgCode
            ,t3.`org_code` AS designOrgCode
            ,t4.`org_code` AS exploreOrgCode
            ,t3.`regis_address` AS regisAddressDesign
            ,t4.`regis_address` AS regisAddressExplore
        FROM tb_project_design t
        LEFT JOIN tb_company t2 ON t.`check_org` = t2.`com_name`
        LEFT JOIN tb_company t3 ON t.`design_org` = t3.`com_name`
        LEFT JOIN tb_company t4 ON t.`explore_org` = t4.`com_name`
        WHERE t.`pkid` = #{pkid}
        GROUP BY t.`pkid`
    </select>

    <select id="queryExProjectDesignCompany" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT t.`explore_org` AS comName
            ,t1.`org_code` AS orgCode
            ,(SELECT t3.display_name FROM mishu.`area` t3 WHERE t3.path = SUBSTRING_INDEX(t2.`path`,',',1)) AS province
            ,'勘查单位' AS companyType
        FROM tb_project_design t
        LEFT JOIN tb_company t1 ON t.`explore_org` = t1.`com_name`
        LEFT JOIN mishu.`area` t2 ON t1.`regis_address` = t2.`name`
        WHERE t.`pro_id` = #{proId}
        AND t.`type` = 'explore'
        GROUP BY t1.`com_id`
    </select>

    <select id="queryDeProjectDesignCompany" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT t.`design_org` AS comName
            ,t1.`org_code` AS orgCode
            ,(SELECT t3.display_name FROM mishu.`area` t3 WHERE t3.path = SUBSTRING_INDEX(t2.`path`,',',1)) AS province
            ,'勘查单位' AS companyType
        FROM tb_project_design t
        LEFT JOIN tb_company t1 ON t.`design_org` = t1.`com_name`
        LEFT JOIN mishu.`area` t2 ON t1.`regis_address` = t2.`name`
        WHERE t.`pro_id` = #{proId}
        AND t.`type` = 'design'
        GROUP BY t1.`com_id`
    </select>

    <select id="queryProIdByComId" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
          t.pro_id
        from tb_project_design t
        WHERE t.`com_id` = #{comId}
        group by t.pro_id
    </select>

    <select id="queryProjectDesignById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select t.*
                ,t1.pro_where
                ,t1.pro_type as proTypeMain
        from tb_project_design t
        left join tb_project t1 on t.pro_id = t1.pro_id
        where t.pkid = #{pkid}
        limit 1
    </select>
</mapper>