<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbProjectMapper">

    <!--按工程查询业绩列表-->
    <select id="queryObject" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        t.`pro_id` AS proId
        ,t.`pro_no` AS proNo
        ,t.`pro_name` AS proName
        ,t.`pro_where` AS proWhere
        ,t.`pro_org` AS proOrg
        ,t.`pro_type` AS proType
        ,t.`pro_address` AS proAddress
        ,t.`pro_scope` AS scope
        ,t1.`build_end` AS buildEnd
        ,t.invest_amount AS amount
        FROM
        tb_project t
        LEFT JOIN tb_project_completion t1 ON t.`pro_id` = t1.`pro_id`
        where t.created is not NULL
        <if test="proName != null and proName != ''">
            AND t.`pro_name` LIKE CONCAT('%',#{proName},'%')
        </if>
        <if test="proType != null and proType != ''">
            AND t.`pro_type` = #{proType}
        </if>
        <if test="amountStart != null and amountStart != ''">
            AND CAST(t.`invest_amount` AS SIGNED INTEGER) &gt;= #{amountStart}
        </if>
        <if test="amountEnd != null and amountEnd != ''">
            AND CAST(t.`invest_amount` AS SIGNED INTEGER) &lt;= #{amountEnd}
        </if>
        <if test="buildStart != null and buildStart != ''">
            AND t1.`build_end` &gt;= #{buildStart}
        </if>
        <if test="buildEnd != null and buildEnd != ''">
            AND t1.`build_end` &lt;= #{buildEnd}
        </if>
        <if test="area != null and area != ''">
            AND t.`pro_where` LIKE CONCAT(#{area},'%')
        </if>
        ORDER BY t.`pro_no` DESC
    </select>

    <!--按单位查询列表-->
    <select id="queryObjectByUnit" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT t.`pro_id` AS proId
        ,t.`pro_no` AS proNo
        ,t.`pro_name` AS proName
        ,t.`pro_where` AS proWhere
        ,t.`pro_type` AS proType
        ,t.`pro_address` AS proAddress
        ,
        <if test="pactType == '施工'">t2.`b_org` AS proOrg</if>
        <if test="pactType == '监理'">t3.`super_org` AS proOrg</if>
        <if test="pactType == '勘察'">t4.`explore_org` AS proOrg</if>
        <if test="pactType == '设计'">t5.`design_org` AS proOrg</if>
        FROM tb_project t
        <if test="pactType == '施工'">
            LEFT JOIN mishu.`tb_project_build` t2 ON t2.`pro_id` = t.`pro_id`
            <if test="proOrg != null and proOrg != ''">
                AND t2.`b_org` LIKE CONCAT('%',#{proOrg},'%')
            </if>
        </if>
        <if test="pactType == '监理'">
            LEFT JOIN mishu.`tb_project_supervision` t3 ON t3.`pro_id` = t.`pro_id`
            <if test="proOrg != null and proOrg != ''">
                AND t3.`super_org` LIKE CONCAT('%',#{proOrg},'%')
            </if>
        </if>
        <if test="pactType == '勘察'">
            LEFT JOIN mishu.`tb_project_design` t4 ON t4.`pro_id` = t.`pro_id`
            <if test="proOrg != null and proOrg != ''">
                AND t4.`explore_org` LIKE CONCAT('%',#{proOrg},'%')
            </if>
        </if>
        <if test="pactType == '设计'">
            LEFT JOIN mishu.`tb_project_design` t5 ON t5.`pro_id` = t.`pro_id`
            <if test="proOrg != null and proOrg != ''">
                AND t5.`design_org` LIKE CONCAT('%',#{proOrg},'%')
            </if>
        </if>
        WHERE
        1=1
        <if test="proName != null and proName != ''">
            AND t.`pro_name` LIKE CONCAT('%',#{proName},'%')
        </if>
        <if test="proType != null and proName != ''">
            AND t.`pro_type` = #{proType}
        </if>
        <if test="area != null and area != ''">
            AND t.`pro_where` LIKE CONCAT(#{area},'%')
        </if>
    </select>

    <!--获取区域省级的名称和path-->
    <select id="queryNameAndPath" resultType="java.util.Map">
        select name,path from area where grade=0 order by name_abbr
    </select>

    <!--获取项目详情-->
    <select id="queryProjectDetail" parameterType="java.lang.String" resultType="com.silita.biaodaa.model.TbProject">
       SELECT t.pro_id AS proId
       ,t.`xmid` AS xmlid
       ,t.`pro_name` AS proName
       ,t.`pro_no` AS proNo
       ,t.`project_no` AS projectNo
       ,t.`pro_org` AS proOrg
       ,t.`pro_where` AS proWhere
       ,t.`pro_address` AS proAddress
       ,t.`invest_amount` AS investAmount
       ,t.`approval_num` AS approvalNum
       ,t.`pro_type` AS proType
       ,t.`build_type` AS buildType
       ,t.`acreage` AS acreage
       ,t.`pro_scope` AS proScope
       ,t.`land_licence` AS landLicence
       ,t.`plan_licence` AS planLicence
       ,t.`pro_level` AS proLevel
       ,t.url
       ,t.`pro_use` AS proUse
       ,t3.`org_code` AS orgCode
       ,t1.`complete_date` AS completeDate
      FROM tb_project t
      LEFT JOIN tb_company t3 ON t.`pro_org` = t3.`com_name`
      LEFT JOIN tb_project_build t1 ON t.`pro_id` = t1.`pro_id`
      WHERE t.`pro_id` = #{proId}
      order by t1.`complete_date` desc
      limit 1
    </select>

    <select id="queryProjectListByIds" parameterType="java.util.List" resultType="java.util.Map">
        SELECT
        t.`pro_id` AS proId
        ,t.`pro_name` AS proName
        ,t.`pro_type` AS proType
        ,t.`pro_where` AS proWhere
        ,t.`pro_org` AS proOrg
        ,null AS pmName
        FROM tb_project t
        WHERE t.`pro_id` IN
        <foreach collection="list" item="list" index="index" open="(" close=")" separator=",">
            #{list}
        </foreach>
    </select>

    <update id="update" parameterType="java.util.Map">
        update tb_project
        set
        <if test="acreage != null and acreage != ''">
            acreage = #{acreage}
        </if>
        where
        <if test="acreage != null and acreage != ''">
            pro_id = #{proId}
        </if>
    </update>

    <!--企业下的业绩-->
    <select id="queryListCompanyPro" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            project.`pro_id` AS proId,
            project.`pro_name` AS proName,
            project.`pro_type` AS proType,
            project.`pro_where` AS proWhere,
            project.`pro_org` AS proOrg,
            comple.`build_end` AS buildEnd,
            <choose>
                <when test="opt != null and opt == 'query'">
                    project.invest_amount AS amount
                </when>
                <otherwise>
                    t1.`amount` AS amount
                </otherwise>
            </choose>
        FROM
        tb_project project
        LEFT JOIN
        (SELECT
        t.`pro_id`,
        t1.`amount`
        FROM
        tb_project_company t
        JOIN tb_project_contract t1
        ON t.`pid` = t1.`pkid`
        WHERE t.`role` = '承包单位'
        AND t.`type` = 'contract'
        <choose>
            <when test="comName != null and comName != '' and innerId != null and innerId != ''">
                AND (t.`com_name` = #{comName} or t.innerId = #{innerId})
            </when>
            <otherwise>
                AND t.`com_name` = #{comName}
            </otherwise>
        </choose>
        UNION
        SELECT
        t.`pro_id`,
        t2.`zhongbiao_amount` AS amount
        FROM
        tb_project_company t
        JOIN tb_project_zhaotoubiao t2
        ON t.`pid` = t2.`pkid`
        WHERE t.`type` = 'zhaotoubiao'
        <choose>
            <when test="comName != null and comName != '' and innerId != null and innerId != ''">
                AND (t.`com_name` = #{comName} or t.innerId = #{innerId})
            </when>
            <otherwise>
                AND t.`com_name` = #{comName}
            </otherwise>
        </choose>) t1
        ON project.`pro_id` = t1.pro_id
        LEFT JOIN tb_project_completion comple
        ON project.`pro_id` = comple.`pro_id`
        JOIN tb_project_company t5
        ON project.`pro_id` = t5.`pro_id`
        WHERE t5.`role` != '发包单位'
        <choose>
            <when test="comName != null and comName != '' and innerId != null and innerId != ''">
                AND (t5.`com_name` = #{comName} or t5.innerId = #{innerId})
            </when>
            <otherwise>
                AND t5.`com_name` = #{comName}
            </otherwise>
        </choose>
        <if test="proType != null and proType != ''">
            AND project.`pro_type` = #{proType}
        </if>
        <if test="proName != null and proName != ''">
            AND project.`pro_name` like CONCAT('%',#{proName},'%')
        </if>
        <if test="amountStart != null and amountStart != ''">
            <choose>
                <when test="opt == 'query'">
                    AND CAST(project.invest_amount AS SIGNED INTEGER) &gt;= #{amountStart}
                </when>
                <otherwise>
                    AND CAST(t1.amount AS SIGNED INTEGER) &gt;= #{amountStart}
                </otherwise>
            </choose>
        </if>
        <if test="amountEnd != null and amountEnd != ''">
            <choose>
                <when test="opt == 'query'">
                    AND CAST(project.invest_amount AS SIGNED INTEGER) &lt;= #{amountEnd}
                </when>
                <otherwise>
                    AND CAST(t1.amount AS SIGNED INTEGER) &lt;= #{amountEnd}
                </otherwise>
            </choose>
        </if>
        <if test="buildStart != null and buildStart != ''">
            AND comple.`build_end` &gt;= #{buildStart}
        </if>
        <if test="buildEnd != null and buildEnd != ''">
            AND comple.`build_end` &lt;= #{buildEnd}
        </if>
        <if test="area != null and area != ''">
            AND project.`pro_where` LIKE CONCAT(#{area},'%')
        </if>
        AND DATE(t5.`updated`) &gt;= DATE_SUB(CURDATE(), INTERVAL 6 MONTH)
        AND DATE(t5.`updated`) &lt;= DATE(NOW())
        GROUP BY project.`pro_id`
    </select>
</mapper>