<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbReportInfoMapper">
    <resultMap id="BaseResultMap" type="com.silita.biaodaa.model.TbReportInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="pkid" property="pkid" jdbcType="INTEGER"/>
        <result column="order_no" property="orderNo" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="rep_title" property="repTitle" jdbcType="VARCHAR"/>
        <result column="std_code" property="stdCode" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="pattern" property="pattern" jdbcType="VARCHAR"/>
        <result column="pay_status" property="payStatus" jdbcType="INTEGER"/>
        <result column="report_path" property="reportPath" jdbcType="VARCHAR"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
        <result column="updated" property="updated" jdbcType="TIMESTAMP"/>
        <result column="rep_condition" property="repCondition" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <!--添加-->
    <insert id="insert" parameterType="com.silita.biaodaa.model.TbReportInfo" useGeneratedKeys="true"
            keyProperty="pkid">
        INSERT INTO `tb_report_info` (
        <if test="orderNo != null and orderNo != ''">
            `order_no`,
        </if>
        <if test="userId != null and userId != ''">
            `user_id`,
        </if>
        <if test="repTitle != null and repTitle != ''">
            `rep_title`,
        </if>
        <if test="repCondition != null and repCondition != ''">
            `rep_condition`,
        </if>
        <if test="stdCode != null and stdCode != ''">
            `std_code`,
        </if>
        <if test="email != null and email != ''">
            `email`,
        </if>
        <if test="phone != null and phone != ''">
            `phone`,
        </if>
        <if test="pattern != null and pattern != ''">
            `pattern`,
        </if>
        <if test="payStatus != null">
            `pay_status`,
        </if>
        <if test="reportPath != null and reportPath != ''">
            `report_path`,
        </if>
        `created`
        )
        VALUES
        (
        <if test="orderNo != null and orderNo != ''">
            #{order_no},
        </if>
        <if test="userId != null and userId != ''">
            #{userId},
        </if>
        <if test="repTitle != null and repTitle != ''">
            #{repTitle},
        </if>
        <if test="repCondition != null and repCondition != ''">
            #{repCondition},
        </if>
        <if test="stdCode != null and stdCode != ''">
            #{stdCode},
        </if>
        <if test="email != null and email != ''">
            #{email},
        </if>
        <if test="phone != null and phone != ''">
            #{phone},
        </if>
        <if test="pattern != null and pattern != ''">
            #{pattern},
        </if>
        <if test="payStatus != null">
            #{payStatus},
        </if>
        <if test="reportPath != null and reportPath != ''">
            #{reportPath},
        </if>
        now()
        ) ;
    </insert>

    <!--查询已支付的报告历史记录-->
    <select id="queryReportList" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
          t.`pkid` AS pkid,
          IFNULL(DATE(t.`updated`),DATE(t.`created`)) AS payDate,
          t.`rep_condition` AS repCondition,
          t.`rep_title` AS title,
          t1.`price` AS price,
          t.`user_id` AS userId,
          t.`report_path` AS reportPath
        FROM
          tb_report_info t
          LEFT JOIN mishu_write.`tb_vip_fee_standard` t1
            ON t.`std_code` = t1.`std_code`
        WHERE  t.`user_id` = #{userId}
            AND t.`pay_status` = 9
        ORDER BY t.`updated` DESC
    </select>

    <!--修改报告订单-->
    <update id="updateReportOrder" parameterType="com.silita.biaodaa.model.TbReportInfo">
        UPDATE
          `tb_report_info`
        SET
          `order_no` = #{orderNo},
          <if test="email != null and email != ''">
              `email` = #{email},
          </if>
          <if test="phone != null and phone != ''">
              `phone` = #{phone},
          </if>
          `pay_status` = #{payStatus},
          `updated` = now()
        WHERE `pkid` = #{pkid}
    </update>

    <!--修改报告订单支付状态-->
    <update id="updateReportOrderPayStatus" parameterType="com.silita.biaodaa.model.TbReportInfo">
        UPDATE
        `tb_report_info`
        SET
        `pay_status` = #{payStatus},
        `updated` = now()
        WHERE `order_no` = #{orderNo}
    </update>
</mapper>