<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbUserSubscribeMapper">

    <!--查询用户最新的订阅条件(根据主键id和userId)-->
    <select id="queryNewCondition" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
          t.`pkid`,
          t.`condition`,
          t.`sub_type` AS subType,
          t.`user_id` AS userId,
          t.`is_push` AS isPush
        FROM
          tb_user_subscribe t
        WHERE
          <choose>
              <when test="pkid != null and pkid != ''">
                  t.`pkid` = #{pkid}
              </when>
              <otherwise>
                  t.`user_id` = #{userId}
              </otherwise>
          </choose>
        ORDER BY t.`created` DESC
        LIMIT 1
    </select>

    <!--修改是否推送(1:推送，0:不推送)-->
    <update id="updateIsPub" parameterType="java.lang.String">
        UPDATE
          tb_user_subscribe
        SET
          is_push = 0
        WHERE user_id = ''
    </update>
</mapper>