<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbVipFeeStandardMapper">


  <select id="queryVipFeeStandard" resultType="com.silita.biaodaa.model.TbVipFeeStandard" parameterType="map">
    select * from mishu_write.`tb_vip_fee_standard` where 1=1
    <if test="null != channel and channel != ''">
      and channel = #{channel} and state = true
    </if>
  </select>
</mapper>