<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.UserTempBddMapper">

    <select id="getUserByUserPhone" parameterType="String" resultType="com.silita.biaodaa.model.UserTempBdd">
        SELECT * FROM mishu_write.user_temp_bdd WHERE userPhone = #{userphone}
    </select>

    <insert id="InsertUserTemp" parameterType="com.silita.biaodaa.model.UserTempBdd">
        INSERT INTO mishu_write.user_temp_bdd(userId, userName, userPass, userPhone, nickName,
        gender, imgUrl, wx_unionId, qqopenId, loginChannel,
        registrationTime)
        VALUES(#{userid}, #{username}, #{userpass}, #{userphone}, #{nickname},
        #{gender}, #{imgurl}, #{wxUnionid}, #{qqopenid}, #{loginchannel},
        now())
    </insert>

    <select id="getUserByUserNameOrPhoneAndPassWd" parameterType="com.silita.biaodaa.model.UserTempBdd"
            resultType="com.silita.biaodaa.model.UserTempBdd">
        SELECT *
        FROM mishu_write.user_temp_bdd
        WHERE (userName = #{username} or userPhone = #{userphone}) AND userPass = #{userpass}
    </select>

    <update id="updateUserTempByWxBind" parameterType="com.silita.biaodaa.model.UserTempBdd">
        UPDATE mishu_write.user_temp_bdd
        <set>
            <if test="nickname!=null and nickname!=''">
                nickName = #{nickname},
            </if>
            <if test="imgurl!=null and imgurl!=''">
                imgUrl = #{imgurl},
            </if>
            <if test="gender!=null and gender!=''">
                gender = #{gender},
            </if>
            <if test="wxUnionid!=null and wxUnionid!=''">
                wx_unionId = #{wxUnionid},
            </if>
            <if test="userpass!=null and userpass!=''">
                userPass = #{userpass},
            </if>
            <if test="companyname!=null and companyname!=''">
                companyName = #{companyname},
            </if>
            <if test="birthday!=null and birthday!=''">
                birthday = #{birthday},
            </if>
            <if test="post!=null and post!=''">
                post = #{post},
            </if>
            <if test="city!=null and city!=''">
                city = #{city},
            </if>
            <if test="name!=null and name!=''">
                `name` = #{name}
            </if>
        </set>
        WHERE userPhone = #{userphone}
    </update>

    <update id="updateUserTempByQQBind" parameterType="com.silita.biaodaa.model.UserTempBdd">
        UPDATE mishu_write.user_temp_bdd
        SET
          nickName = #{nickname},
          imgUrl = #{imgurl},
          gender = #{gender},
          qqopenId = #{qqopenid} ,
          userPass = #{userpass},
          birthday = #{birthday},
          companyName = #{companyname},
          post = #{post},
          city = #{city},
          `name` = #{name}
        WHERE userPhone = #{userphone}
    </update>

    <select id="getUserTempByWXUnionId" parameterType="String" resultType="com.silita.biaodaa.model.UserTempBdd">
         SELECT * FROM mishu_write.user_temp_bdd WHERE wx_unionId = #{wxUnionid}
    </select>

    <select id="getUserTempByWXOpenId" parameterType="String" resultType="com.silita.biaodaa.model.UserTempBdd">
        SELECT * FROM mishu_write.user_temp_bdd WHERE wxopenId = #{wxopenid}
    </select>

    <update id="updateWXUnionIdByWXOpenId" parameterType="com.silita.biaodaa.model.UserTempBdd">
        UPDATE mishu_write.user_temp_bdd
        SET wx_unionId = #{wxUnionid}
        WHERE wxopenId = #{wxopenid}
    </update>

    <select id="getUserTempByQQOpenId" parameterType="String" resultType="com.silita.biaodaa.model.UserTempBdd">
        SELECT * FROM mishu_write.user_temp_bdd WHERE qqopenId = #{qqopenid}
    </select>

    <select id="getUserTempByUserId" parameterType="String" resultType="com.silita.biaodaa.model.UserTempBdd">
        SELECT * FROM mishu_write.user_temp_bdd WHERE userId = #{userid}
    </select>

    <update id="updateUserTemp" parameterType="com.silita.biaodaa.model.UserTempBdd">
        UPDATE mishu_write.user_temp_bdd
        <set>
            <if test="imgurl!=null and imgurl!=''">
                imgUrl = #{imgurl},
            </if>
            <if test="nickname!=null and nickname!=''">
                nickName = #{nickname},
            </if>
            <if test="gender!=null and gender!=''">
                gender = #{gender},
            </if>
            <if test="mailbox!=null and mailbox!=''">
                mailBox = #{mailbox},
            </if>
            <if test="companyname!=null and companyname!=''">
                companyName = #{companyname},
            </if>
            <if test="birthday!=null and birthday!=''">
                birthday = #{birthday},
            </if>
            <if test="post!=null and post!=''">
                post = #{post},
            </if>
            <if test="city!=null and city!=''">
                city = #{city},
            </if>
            <if test="name!=null and name!=''">
                `name` = #{name}
            </if>
        </set>
        WHERE userId = #{userid}
    </update>

    <update id="updatePassWdByUserIdAndPhone" parameterType="com.silita.biaodaa.model.UserTempBdd">
        UPDATE mishu_write.user_temp_bdd
        SET userPass = #{userpass}
        WHERE userPhone = #{userphone}
    </update>

    <select id="getTotalByUserPhone" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM mishu_write.user_temp_bdd WHERE userPhone = #{userphone}
    </select>

    <select id="queryUserInfo" parameterType="com.silita.biaodaa.model.SysUser" resultType="com.silita.biaodaa.model.SysUser">
        SELECT u.*,r.code as roleCode,r.name as roleName,r.permissions,v.expired_date,v.level
        FROM mishu_write.sys_user_info u
        LEFT JOIN mishu_write.sys_user_role rel on rel.user_id= u.pkid
        LEFT JOIN mishu_write.sys_role_info r on r.pkid= rel.role_id
        LEFT JOIN mishu_write.tb_vip_info v on u.pkid=v.user_id
        <where>
            <choose>
                <when test="pkid != null and pkid != ''">
                    u.pkid=#{pkid}
                </when>
                <when test="(wxUnionId != null and wxUnionId !='') or (wxOpenId != null and wxOpenId !='') or (qqOpenId != null and qqOpenId !='')">
                    wx_union_id = #{wxUnionId} or wx_open_id = #{wxOpenId} or qq_open_id = #{qqOpenId}
                </when>
                <otherwise>
                    (login_name = #{loginName} or phone_no = #{phoneNo}) AND login_pwd = #{loginPwd}
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="verifyUserInfo"  resultType="String">
        SELECT u.pkid
        FROM mishu_write.sys_user_info u
        WHERE  phone_no=#{phoneNo}
        <if test="loginName != null and loginName != ''">
            or login_name=#{loginName}
        </if>
    </select>

    <insert id="insertUserInfo" parameterType="com.silita.biaodaa.model.SysUser">
    insert into mishu_write.sys_user_info
        (pkid,
        <if test="loginName !=null and loginName!=''">
        login_name,
        </if>
        login_pwd,
        <if test="userName !=null and userName!=''">
        user_name,
        </if>
        <if test="sex !=null and sex!=''">
        sex,
        </if>
        phone_no,
        channel,
        <if test="nikeName !=null and nikeName!=''">
        nike_name,
        </if>
        <if test="certType !=null and certType!=''">
        cert_type,
        </if>
        <if test="certNo !=null and certNo!=''">
        cert_no,
        </if>
        <if test="email !=null and email!=''">
        email,
        </if>
        <if test="birthYear !=null and birthYear!=''">
        birth_year,
        </if>
        <if test="inCity !=null and inCity!=''">
        in_city,
        </if>
        <if test="inCompany !=null and inCompany!=''">
        in_company,
        </if>
        <if test="position !=null and position!=''">
        position,
        </if>
        <if test="imageUrl !=null and imageUrl!=''">
        image_url,
        </if>
        <if test="wxUnionId !=null and wxUnionId!=''">
        wx_union_id,
        </if>
        <if test="wxOpenId !=null and wxOpenId!=''">
        wx_open_id,
        </if>
        <if test="qqOpenId !=null and qqOpenId!=''">
        qq_open_id,
        </if>
        created,
        create_by,
        <if test="inviterCode !=null and inviterCode!=''">
        inviter_code,
        </if>
        own_invite_code)
    VALUES
        (#{pkid},
        <if test="loginName !=null and loginName!=''">
        #{loginName},
        </if>
        #{loginPwd},
        <if test="userName !=null and userName!=''">
        #{userName},
        </if>
        <if test="sex !=null and sex!=''">
        #{sex},
        </if>
        #{phoneNo},
        #{channel},
        <if test="nikeName !=null and nikeName!=''">
        #{nikeName},
        </if>
        <if test="certType !=null and certType!=''">
        #{certType},
        </if>
        <if test="certNo !=null and certNo!=''">
        #{certNo},
        </if>
        <if test="email !=null and email!=''">
        #{email},
        </if>
        <if test="birthYear !=null and birthYear!=''">
        #{birthYear},
        </if>
        <if test="inCity !=null and inCity!=''">
        #{inCity},
        </if>
        <if test="inCompany !=null and inCompany!=''">
        #{inCompany},
        </if>
        <if test="position !=null and position!=''">
        #{position},
        </if>
        <if test="imageUrl !=null and imageUrl!=''">
        #{imageUrl},
        </if>
        <if test="wxUnionId !=null and wxUnionId!=''">
        #{wxUnionId},
        </if>
        <if test="wxOpenId !=null and wxOpenId!=''">
        #{wxOpenId},
        </if>
        <if test="qqOpenId !=null and qqOpenId!=''">
        #{qqOpenId},
        </if>
        CURRENT_TIMESTAMP,
        #{createBy},
        <if test="inviterCode !=null and inviterCode!=''">
        #{inviterCode},
        </if>
        #{ownInviteCode})
    </insert>
    
    <insert id="insertUserRole" parameterType="com.silita.biaodaa.model.SysUserRole">
    insert into mishu_write.sys_user_role
        (pkid,
        role_id,
        user_id,
        created,
        create_by)
    VALUES
        (#{pkid},
        (SELECT pkid from mishu_write.sys_role_info where code=#{roleCode}),
        #{userId},
        CURRENT_TIMESTAMP,
        #{createBy})
    </insert>
    
    <select id="verifyInviterCode" parameterType="com.silita.biaodaa.model.SysUser" resultType="Integer">
        SELECT count(1)
        FROM mishu_write.sys_user_info
        WHERE own_invite_code=#{inviterCode}
        <if test="pkid !=null and pkid!=''">
            and pkid !=#{pkid}
        </if>
        <if test="phoneNo !=null and phoneNo!=''">
            and phone_no !=#{phoneNo}
        </if>
        <choose>
            <when test="wxUnionId !=null and wxUnionId!=''">
                and (wx_union_id !=#{wxUnionId} or wx_union_id is null)
            </when>
            <when test="wxOpenId !=null and wxOpenId !=''">
                and (wx_open_id !=#{wxOpenId} or wx_open_id is null)
            </when>
            <when test="qqOpenId !=null and qqOpenId!=''">
                and (qq_open_id !=#{qqOpenId} or qq_open_id is null)
            </when>
        </choose>
    </select>

    <select id="existInviterCodeByUserId" parameterType="com.silita.biaodaa.model.SysUser" resultType="String">
        SELECT inviter_code
        FROM mishu_write.sys_user_info
        <where>
        <choose>
            <when test="pkid !=null and pkid!=''">
                and pkid =#{pkid}
            </when>
            <when test="wxUnionId !=null and wxUnionId!=''">
                and wx_union_id =#{wxUnionId}
            </when>
            <when test="wxOpenId !=null and wxOpenId !=''">
                and wx_open_id =#{wxOpenId}
            </when>
            <when test="qqOpenId !=null and qqOpenId!=''">
                and qq_open_id =#{qqOpenId}
            </when>
        </choose>
        </where>
    </select>

    <update id="updateSysUser">
        update mishu_write.sys_user_info
        SET
            <if test="loginName !=null and loginName!=''">
                login_name=#{loginName},
            </if>
            <if test="loginPwd !=null and loginPwd!=''">
              login_pwd=#{loginPwd},
            </if>
            <if test="userName !=null and userName!=''">
                user_name=#{userName},
            </if>
            <if test="sex !=null">
                sex=#{sex},
            </if>
            <if test="nikeName !=null and nikeName!=''">
                nike_name=#{nikeName},
            </if>
            <if test="certType !=null and certType!=''">
                cert_type=#{certType},
            </if>
            <if test="certNo !=null and certNo!=''">
                cert_no=#{certNo},
            </if>
            <if test="email !=null and email!=''">
                email=#{email},
            </if>
            <if test="birthYear !=null and birthYear!=''">
                birth_year=#{birthYear},
            </if>
            <if test="inCity !=null and inCity!=''">
                in_city=#{inCity},
            </if>
            <if test="inCompany !=null and inCompany!=''">
                in_company=#{inCompany},
            </if>
            <if test="position !=null and position!=''">
                position=#{position},
            </if>
            <if test="imageUrl !=null and imageUrl!=''">
                image_url=#{imageUrl},
            </if>
            <if test="wxUnionId !=null and wxUnionId!=''">
                wx_union_id=#{wxUnionId},
            </if>
            <if test="wxOpenId !=null and wxOpenId!=''">
                wx_open_id=#{wxOpenId},
            </if>
            <if test="qqOpenId !=null and qqOpenId!=''">
                qq_open_id=#{qqOpenId},
            </if>
            <if test="updateBy !=null and updateBy!=''">
              update_by=#{updateBy},
            </if>
            <if test="inviterCode !=null and inviterCode!=''">
                inviter_code=#{inviterCode},
            </if>
        updated=CURRENT_TIMESTAMP
        where 1=1
        <if test="pkid !=null and pkid!=''">
          and pkid = #{pkid}
        </if>
        <if test="phoneNo !=null and phoneNo!=''">
          and phone_no = #{phoneNo}
        </if>
    </update>

    <update id="updateSysUserUnionId">
        update mishu_write.sys_user_info
        SET
        <if test="wxUnionId !=null and wxUnionId!=''">
            wx_union_id=#{wxUnionId},
        </if>
        <if test="updateBy !=null and updateBy!=''">
            update_by=#{updateBy},
        </if>
        updated=CURRENT_TIMESTAMP
        where wx_open_id=#{wxOpenId}
    </update>

    <update id="updateUserPwd">
        update mishu_write.sys_user_info
        SET login_pwd=#{loginPwd},
        updated=CURRENT_TIMESTAMP
        where 1=1
        <if test="pkid !=null and pkid!=''">
            and pkid = #{pkid}
        </if>
        <if test="phoneNo !=null and phoneNo!=''">
            and phone_no = #{phoneNo}
        </if>
    </update>

    <select id="queryUserByPhoneNo" parameterType="String" resultType="com.silita.biaodaa.model.SysUser">
        SELECT *
        FROM mishu_write.sys_user_info
        WHERE phone_no =#{phoneNo}
    </select>

  <delete id="deleteRoleByUserId" >
      delete ur
      from mishu_write.sys_user_role ur
      join mishu_write.sys_role_info r on ur.role_id = r.pkid
      where  ur.user_id=#{userId} and r.grade &lt;(select grade from mishu_write.sys_role_info where code=#{roleCode})
  </delete>

</mapper>