<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.UserTempBddMapper">

    <select id="getUserByUserPhone" parameterType="String" resultType="com.silita.biaodaa.model.UserTempBdd">
        SELECT * FROM mishu_write.user_temp_bdd WHERE userPhone = #{userphone}
    </select>

    <insert id="InsertUserTemp" parameterType="com.silita.biaodaa.model.UserTempBdd">
        INSERT INTO mishu_write.user_temp_bdd(userId, userName, userPass, userPhone, nickName,
        gender, imgUrl, wx_unionId, qqopenId, loginChannel,
        registrationTime)
        VALUES(#{userid}, #{username}, #{userpass}, #{userphone}, #{nickname},
        #{gender}, #{imgurl}, #{wxUnionid}, #{qqopenid}, #{loginchannel},
        now())
    </insert>

    <select id="getUserByUserNameOrPhoneAndPassWd" parameterType="com.silita.biaodaa.model.UserTempBdd"
            resultType="com.silita.biaodaa.model.UserTempBdd">
        SELECT * FROM mishu_write.user_temp_bdd WHERE userName = #{username} AND userPass = #{userpass}
        UNION SELECT * FROM mishu_write.user_temp_bdd WHERE userPhone = #{userphone} AND userPass = #{userpass}
    </select>

    <update id="updateUserTempByWxBind" parameterType="com.silita.biaodaa.model.UserTempBdd">
        UPDATE mishu_write.user_temp_bdd
        <set>
            <if test="nickname!=null and nickname!=''">
                nickName = #{nickname},
            </if>
            <if test="imgurl!=null and imgurl!=''">
                imgUrl = #{imgurl},
            </if>
            <if test="gender!=null and gender!=''">
                gender = #{gender},
            </if>
            <if test="wxUnionid!=null and wxUnionid!=''">
                wx_unionId = #{wxUnionid},
            </if>
            <if test="userpass!=null and userpass!=''">
                userPass = #{userpass},
            </if>
            <if test="birthday!=null and birthday!=''">
                birthday = #{birthday},
            </if>
            <if test="post!=null and post!=''">
                post = #{post},
            </if>
            <if test="city!=null and city!=''">
                city = #{city}
            </if>
        </set>
        WHERE userPhone = #{userphone}
    </update>

    <update id="updateUserTempByQQBind" parameterType="com.silita.biaodaa.model.UserTempBdd">
        UPDATE mishu_write.user_temp_bdd
        SET
          nickName = #{nickname},
          imgUrl = #{imgurl},
          gender = #{gender},
          qqopenId = #{qqopenid} ,
          userPass = #{userpass},
          birthday = #{birthday},
          post = #{post},
          city = #{city}
        WHERE userPhone = #{userphone}
    </update>

    <select id="getUserTempByWXUnionId" parameterType="String" resultType="com.silita.biaodaa.model.UserTempBdd">
         SELECT * FROM mishu_write.user_temp_bdd WHERE wx_unionId = #{wxUnionid}
    </select>

    <select id="getUserTempByWXOpenId" parameterType="String" resultType="com.silita.biaodaa.model.UserTempBdd">
        SELECT * FROM mishu_write.user_temp_bdd WHERE wxopenId = #{wxopenid}
    </select>

    <update id="updateWXUnionIdByWXOpenId" parameterType="com.silita.biaodaa.model.UserTempBdd">
        UPDATE mishu_write.user_temp_bdd
        SET wx_unionId = #{wxUnionid}
        WHERE wxopenId = #{wxopenid}
    </update>

    <select id="getUserTempByQQOpenId" parameterType="String" resultType="com.silita.biaodaa.model.UserTempBdd">
        SELECT * FROM mishu_write.user_temp_bdd WHERE qqopenId = #{qqopenid}
    </select>

    <select id="getUserTempByUserId" parameterType="String" resultType="com.silita.biaodaa.model.UserTempBdd">
        SELECT * FROM mishu_write.user_temp_bdd WHERE userId = #{userid}
    </select>

    <update id="updateUserTemp" parameterType="com.silita.biaodaa.model.UserTempBdd">
        UPDATE mishu_write.user_temp_bdd
        <set>
            <if test="imgurl!=null and imgurl!=''">
                imgUrl = #{imgurl},
            </if>
            <if test="nickname!=null and nickname!=''">
                nickName = #{nickname},
            </if>
            <if test="gender!=null and gender!=''">
                gender = #{gender},
            </if>
            <if test="mailbox!=null and mailbox!=''">
                mailBox = #{mailbox},
            </if>
            <if test="companyname!=null and companyname!=''">
                companyName = #{companyname}
            </if>
            <if test="birthday!=null and birthday!=''">
                birthday = #{birthday},
            </if>
            <if test="post!=null and post!=''">
                post = #{post},
            </if>
            <if test="city!=null and city!=''">
                city = #{city}
            </if>
        </set>
        WHERE userId = #{userid}
    </update>

    <update id="updatePassWdByUserIdAndPhone" parameterType="com.silita.biaodaa.model.UserTempBdd">
        UPDATE mishu_write.user_temp_bdd
        SET userPass = #{userpass}
        WHERE userPhone = #{userphone}
    </update>

    <select id="getTotalByUserPhone" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM mishu_write.user_temp_bdd WHERE userPhone = #{userphone}
    </select>

</mapper>