<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silita.biaodaa.dao.VersionMapper">
    <select id="getVersion" parameterType="String" resultType="String">
        select versionInformation from mishu.version where loginChannel=#{loginChannel}
    </select>

    <select id="queryVersion" parameterType="java.lang.String" resultType="java.util.Map">
        select versionInformation as versionInformation
                ,content as content
                ,is_update as isUpdate
                ,is_activity as isActivity
                ,file_url as fileUrl
        from mishu.version where loginChannel=#{loginChannel}
    </select>
</mapper>