<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.VipInfoMapper">

    <select id="queryInfoById" parameterType="Map" resultType="com.silita.biaodaa.model.VipInfo">
        select *
        from mishu_write.tb_vip_info
        where user_id =#{userId}
    </select>

    <select id="queryFeeStandard" parameterType="String" resultType="com.silita.biaodaa.model.TbVipFeeStandard">
        select *
        from mishu_write.tb_vip_fee_standard
        where (channel='common' or channel=#{channel}) and state=true
    </select>
</mapper>